/* <weight>: Use a value from 100 to 900 */
/* font-family: "Roboto", sans-serif; */


/* <weight>: Use a value from 200 to 700 */
/* font-family: "Oswald", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #003d8d; */
    background-image: url(/images/video\ editing/bg_Socialv3.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: multiply; */
}

.main_container {
    display: grid;
    grid-template-rows: auto;
    height: auto;
}

.row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 200px;
    /* background-color: blueviolet; */
}

.row1 h1 {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin-top: 20px;
}

.resume-link, .portfolio-link {
    margin: 100px, 50px, 2px, 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.download-btn, .portfolio-btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #00a2ff;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }

  .download-btn:hover, .portfolio-btn:hover {
    background-color: #00a2ff;
    color: #fff;
  }

.row2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    /* gap: 100px; */
    width: 100%;
    height: auto;
    margin-top: 50px;
    /* background-color: brown; */
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30%;
    height: auto;
    /* background-color: red; */
}

.contact-info * {
    margin-top: 10px;
}

.summary * {
    margin-top: 10px;
}

.left-section h3, .right-section h3 {
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 30px;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    height: auto;
    /* background-color: blueviolet; */
}

.skills, .languages {
    width: 85%;
    /* background-color: #00a2ff; */
}

.skill1, .skill2, .skill3, .skill4, .skill5, .skill6, .skill7, .skill8, .language1, .language2 {
    display: flex;
    margin-top: 10px;
    /* background-color: #1abc9c; */
}

.after-effects, .premiere, .photoshop, .illustrator, .maya, .blender, .unreal, .unity, .english, .spanish {
    width: 50%;
    /* background-color: blueviolet; */
}

.after-effects-score, .premiere-score, .photoshop-score, .illustrator-score, .maya-score, .blender-score, .unreal-score, .unity-score, .english-score, .spanish-score {
    width: 50%;
    /* background-color: red; */
}

.af-progress-container, .pr-progress-container, .ps-progress-container, .ai-progress-container, .maya-progress-container, .bl-progress-container, .unreal-progress-container, .unity-progress-container, .en-progress-container, .sp-progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  height: 30px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}

.af-progress-bar, .pr-progress-bar, .ps-progress-bar, .ai-progress-bar, .maya-progress-bar, .bl-progress-bar, .unreal-progress-bar, .unity-progress-bar, .en-progress-bar, .sp-progress-bar {
  height: 100%;
  background-color: #00a2ff;
  color: white;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  transition: width 0.3s ease-in-out;
}

.coding-temple, .lafilm {
    font-weight: 900;
    font-style: italic;
}

.coding-temple-edu, .lafilm-edu {
    margin-top: 16px;
}

.temple-cert, .lafilm-cert {
    font-size: 15px;
}

.jobs {
    margin-top: 20px;
}

.jobs div {
    font-style: italic;
}

.jobs ul {
    font-size: 16px;
    line-height: 30px;
    margin-left: 20px;
}

.experience {
    margin-bottom: 50px;
}